// #map { height: 180px; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 400px;
  margin: 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#map {
  height: 300px; /* tinggi wajib agar peta muncul */
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
