html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}

.legend {
  background: white;
  padding: 10px;
  line-height: 18px;
  color: #333;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  font-size: 14px;
}
.legend h4 {
  margin: 0 0 5px;
  font-weight: bold;
}
